fastapi
uvicorn
pydantic
pydantic-settings

ollama

sentence-transformers
faiss-cpu
numpy

pymupdf

httpx

python-dotenv

loguru
rich

tenacity

orjson

ddgs

python-multipart

sqlalchemy

PyJWT
pwdlib[argon2]